## Frühe Baumwollproduktion der UdSSR in t mit Schwerpunkt Usbekistan

     Jahr                         | Produktion in t       
----------------------------- | ------
| 1925 | 157.200 |
| 1926 | 162.200 |
| 1927 | 216.200 |
| 1928 | 244.800 |
| 1929 | 264.000 |
| 1930 | 335.800 |