# Historisches Intro

In St. Petersburg entstand um 1890 das politische Ziel einer „Baumwollunabhängigkeit“ von den kriegsgebeutelten USA. Bewässerung wurde zur fixen Idee der zaristischen Verwalter, Ingenieure und Wissenschaftler. Sie wollten mit neuen Kanälen den Baumwollanbau modernisieren. Die kommunistische Regierung nach dem Ersten Weltkrieg übernahm in Bezug auf die Baumwolle fast alle Ziele der zaristischen Vorgänger. Die Sowjetunion erstellte 1928/29 einen Fünfjahresplan und erklärte die usbekischen Kolchosen zur Baumwollbasis der Sowjetunion. 1939 erhielt die Usbekische Sozialistische Sowjetrepublik mit dem Lenin-Orden eine hohe Auszeichnung für ihre Errungenschaften im Baumwollanbau. Nach dem Zweiten Weltkrieg wurde das stalinistische Baumwollzwangssystem wiedererrichtet. 1958 begann der Bau des Karakumkanals, der später zu 40 Prozent an der Verlandung des Aralsees beteiligt sein sollte. 