# Cotton

From 1980 onward, cotton production in the territory of present-day Uzbekistan declined despite constant expansion of the cultivated area. Whereas until the early 1980s the expansion of cotton cultivation was associated with an increase in yields, yields fell from 3 t/ha in 1980 to 2.3 t/ha in 1987, partly because unproductive sites were included in cotton production. On the other hand, the lack of fertilizers, agricultural technology and the lack of labor motivation had a significant impact.