# Die Baumwolle

Ab 1980 sank die Baumwollproduktion im Gebiet des heutigen Usbekistan trotz ständiger Ausdehnung der Anbaufläche. War bis zu Beginn der 80er-Jahre die Ausdehnung des Baumwollanbaus mit einer Zunahme der Erträge verbunden, fielen die Erträge von 3 t/ha im Jahr 1980 auf 2,3 t/ha im Jahr 1987. Dies ist zum einen darauf zurückzuführen, dass unproduktive Standorte in die Baumwollproduktion mit einbezogen wurden. Zum anderen hat sich der Mangel an Düngemitteln, landwirtschaftlicher Technik und fehlender Arbeitsmotivation deutlich bemerkbar gemacht. 