# Die Politik

Die usbekische Wirtschaft wurde zur Monokultur und basierte fast ausschließlich auf dem Baumwollanbau. Laut Statistiken aus den 1980ern machte dieser Industriezweig mehr als 65% der usbekischen Gesamtproduktion aus. Doch weniger als 10% der produzierten Baumwolle wurde auch in Usbekistan verarbeitet. Der Großteil wurde nach Russland exportiert, wo die Leichtindustrie hauptsächlich angesiedelt war. Die UdSSR betrachtete Usbekistan als einen einfachen Baumwolllieferanten, der nur brauchte, was für die Ernte nötig war: Dünger und Traktoren. Die Urbanisierungsprozesse des Landes wurden verlangsamt, um die Spezialisierung Usbekistans im Baumwollanbau zu sichern.