## Aral Sea

                              |       
----------------------------- | ------
Water level m above sea level | 53.4  
Water volume km<sup>3</sup>   | 1089  
Surface area km<sup>2</sup>   | 67,500
Salinity (g/L)                | 10    