# Der Aralsee

Die großflächigen Erschließungsprojekte zur Bewässerung gerieten immer mehr in die Kritik. Tierarten verschwanden und ein falscher Umgang mit mineralischen Düngern sorgte für das Auslaugen der Böden. Die Haltung Gorbatschows als Generalsekretär des Zentralkomitees der Kommunistischen Partei der Sowjetunion (KPdSU) und der Perestroika ermöglichte ab März 1985 eine Ausweitung der kritischen Meinung in der Bevölkerung. Demonstrationen und Protestkampagnen wurden gestartet, um auf Umweltprobleme aufmerksam zu machen.