Basierend auf dem Konzept “Der Aralsee – Eine Chronik” Installation von Kai Magnus Müller, 
Martin Wehl & Vanessa Boutzikoudi an der Hochschule für Gestaltung Schwäbisch Gmünd, 2017.

__Kuration & Redaktion: Dr. Ina Schenker__

Besonderen Dank an Jens Krause & Maurice Rio für die große Unterstützung!