Based on the concept “Der Aralsee – Eine Chronik” installation by Kai Magnus Müller, 
Martin Wehl & Vanessa Boutzikoudi at Hochschule für Gestaltung Schwäbisch Gmünd, 2017.

__Curation & editorial work: Dr. Ina Schenker__

Special thanks to Jens Krause & Maurice Rio for their great support!