# Die Politik

Zwischen 1976 und 1983 betrog die Führung Usbekistans die sowjetische Zentralbank, indem sie die usbekischen Baumwollernteerträge fälschlicherweise aufblähte. Der damit einhergehende „Baumwollskandal“ während der Amtszeit von Scharaf Raschidow führte zur Diskreditierung der politischen Elite Usbekistans. Der Korruptionsprozess kann als Ausdruck des Dilemmas gesehen werden, in dem sich die usbekische Wirtschaft und Politik inzwischen befanden. Fakt war: mit ausgelaugten und versalzten Böden und verschmutztem Wasser waren die Baumwollernten nicht mehr zu steigern. 