# Politics

Between 1976 and 1983, the leadership of Uzbekistan defrauded the Soviet Central Bank by falsely inflating Uzbekistan's cotton crop yields. The accompanying "cotton scandal" during Sharaf Rashidov's tenure discredited Uzbekistan's political elite. The corruption trial can be seen as an expression of the dilemma in which the Uzbek economy and politics now found themselves. The fact was that with depleted and salinated soil and polluted water, cotton harvests could no longer be increased.