# Wasserstand, Salzgehalt, Umweltauswirkungen

Ab 1970 wurde zwar nicht das oberste Ziel der Baumwollgewinnung in Frage gestellt, jedoch die damit einhergehende Wasserverschwendung kritisiert. Naturschutzgesetze, die auf Ebene der usbekischen Republik galten, wurden durch Verordnungen der Sowjetunion ergänzt. 1977 wurde der Schutz der Natur in die sowjetische Verfassung aufgenommen. In der Zeitschrift „Gesellschaftswissenschaften Usbekistan“ finden sich 1975 erste Aufsätze zu Umweltschutz und Ökologie. Umweltschutz blieb jedoch noch ein Elitenthema und schlug sich nicht in der breiten Bevölkerung nieder. 