# The Sea

From 1970, although the primary goal of cotton extraction was not questioned, the accompanying waste of water was criticized. Nature protection laws that applied at the level of the Uzbek Republic were supplemented by decrees of the Soviet Union. In 1977, the protection of nature was included in the Soviet Constitution. In 1975, the journal "Social Sciences of Uzbekistan" published the first essays on environmental protection and ecology. However, environmental protection remained an elite issue and was not reflected by the broader population.