## Cotton Production

| 1955 / Uzbekistan     | Cultivated area in hectares (ha) | Yields per hectare (dz/ha) | Harvest in tons (t) |
| --------------------- | -------------------------------- | -------------------------- | ------------------- |
| Soviet Union planning | 1,248,000                        | 26.5                       | 3,300,000           |
| Reality               | 1,330,000                        | 20                         | 2,700,000           |