# Cotton

Cotton was grown in the planned economy system in collective farms and sovkhozes, among others. A kolkhoz is a collective agricultural enterprise. A sovkhoz is a large-scale state-owned agricultural enterprise in the former Soviet Union. The enterprise constitution is similar to that of a state enterprise in industry: the director is appointed by higher authorities, and the employees have employee status. Since 1952, Uzbekistan has not been able to properly fulfill cotton plans despite great efforts such as irrigation and forced labor.