# Die Baumwolle

Baumwolle wurde im Planwirtschaftssystem u.a. in Kolchosen und Sowchosen angebaut. Ein Kolchos war ein kollektiv landwirtschaftlicher Betrieb. Eine Sowchose war ein staatlicher Großbetrieb in der Landwirtschaft der ehemaligen Sowjetunion. Die Unternehmensverfassung war ähnlich der eines staatlichen Unternehmens in der Industrie: Der Direktor wurde von übergeordneten Instanzen eingesetzt, die Beschäftigten hatten Arbeitnehmerstatus. Seit 1952 hatte Usbekistan trotz großer Anstrengungen wie Bewässerung und Zwangsarbeit die Baumwollpläne nicht mehr richtig erfüllen können.