# Baumwollproduktion

Baumwolle wurde im Planwirtschaftssystem u.a. in Kolchosen und Sowchosen angebaut. Ein Kolchos ist ein kollektiv landwirtschaftlicher Betrieb. Eine Sowchose ein staatlicher Großbetrieb in der Landwirtschaft der ehemaligen Sowjetunion. Die Unternehmensverfassung ist ähnlich der eines staatlichen Unternehmens in der Industrie: Der Direktor wird von übergeordneten Instanzen eingesetzt, die Beschäftigten haben Arbeitnehmerstatus. Seit 1952 hat Usbekistan trotz großer Anstrengungen wie Bewässerung und Zwangsarbeit die Baumwollpläne nicht mehr richtig erfüllen können.