# Politics

Since 1959, Sharaf Rashidov has ruled in a local partocracy with the attributes of a communist khanate of Uzbekistan. Great efforts were made to improve cotton cultivation. The difficulties were not in the fields, but in politics. Thus, the political decision was made to introduce new cultivation methods. Instead of 70 cm spacing, the plants were sown at 45 cm spacing, contrary to the voices of science. The consequences were an increase in the demand for water, fertilizer and labor, as well as a costly conversion of agricultural equipment from 70 cm furrow width to 45 cm. In 1967, the Karakum Canal was also completed. The 1,445 km long canal takes water from the Aral tributary Amudarja for cotton and rice cultivation. Because the canal is open as far as Bereket (former name Gazanjyk, ♁39° 15′ N, 55° 31′ E) and also lacks a concrete bed, about half of the water that passes through it evaporates or seeps away.