## Aralsee

                             |       
---------------------------- | ------
Wasserspiegel m über NN      | 53,4  
Wasservolumen km<sup>3</sup> | 1089  
Oberfläche km<sup>2</sup>    | 67,50
Salzgehalt / Salinität (g/L) | 10    