# The Sea

Between 1750 and 1960, the fluctuations of the lake level were less than 4.5 meters. Especially in the years 1900 to 1960, the water balance of the lake was remarkably stable and its annual average level rose and fell within a meter. The salinity was less than a third of the ocean level and both saltwater and brackish water fish populated the lake. In 1960, the Aral Sea was still the fourth largest inland lake in the world with an area of about 67,500 square kilometers (which is approximately the size of Bavaria). From the south came the tributary Amudarya, from the east the Syrdarya into the Aral Sea. It was a habitat for over 20 species of fish, including carp, catfish and sturgeon. 

