# Der Aralsee

Zwischen 1750 und 1960 betrugen die Schwankungen des Seespiegels weniger als 4,5 m. Gerade in den Jahren 1900 bis 1960 war der Wasserhaushalt des Sees bemerkenswert stabil und sein Jahresdurchschnittsniveau hob und senkte sich im Rahmen eines Meters. Der Salzgehalt lag unter einem Drittel des Ozeans und der See war sowohl von Salzwasser- als auch Brackwasserfischen bevölkert. 1960 war der Aralsee noch der viertgrößte Binnensee der Welt mit einer Fläche von rund 67.500 Quadratkilometern (was ungefähr der Größe Bayerns entspricht). Von Süden kommt der Zufluss Amudarja, vom Osten der Syrdarja in den Aralsee. Er war Lebensraum für über 20 Fischarten, darunter Karpfen, Welse und Störe. 
