# Wasserstand, Salzgehalt, Umweltauswirkungen

1960 ist der Aralsee noch der 4. größte Binnensee der Welt mit einer Fläche von rund 68.000 Quadratkilometern (was ungefähr der Größe Bayerns entspricht). Von Süden kommt der Zufluss Amudarja, vom Osten der Syrdarja in den Aralsee. Er ist Lebensraum für über 20 Fischarten, darunter Karpfen, Welse und Störe.