# Cotton

Depending on output and conditions, one person can harvest 20 to 100 kilograms of cotton a day. The harvest work is usually seasonal manual labor. In the 2000s, in the old Soviet tradition, cotton farmers could also rely on schoolchildren and students as (lowest-paid) harvest workers. Cotton cultivation was organized in fermer and dehkan structures. These were free-peasant structures that emerged from the privatization of collective farms and their post-communist successor organizations, the so-called shirkats. With the generalization and legal protection of the fermer structures, the peasant share of the harvest increased to 80 % by 2004, which no longer had to be given to the state.