# Die Baumwolle

Je nach Leistung und Bedingungen kann eine Person 20 bis 100 Kilogramm Baumwolle am Tag ernten. Die Erntearbeit ist in der Regel saisonale Handarbeit. In den 2000ern konnten die Baumwollbauern in alter sowjetischer Tradition zudem auf Schülerinnen und Schüler und Studierende als (niedrigst bezahlte) Erntehelfer zurückgreifen. Der Baumwollanbau war in Fermer und Dehkan organisiert. Das waren freibäuerliche Strukturen, die aus der Privatisierung der Kolchosen und ihrer postkommunistischen Nachfolgeorganisationen, den sogenannten Shirkats, hervorgingen. Mit der Verallgemeinerung und gesetzlichen Absicherung der Fermer-Strukturen vergrößerte sich der bäuerliche Ertragsanteil an der Ernte bis 2004 auf 80 Prozent. Dieser Ertragsanteil musste nicht mehr an den Staat abgegeben werden.