# Politics

In 2003, the "Cotton Campaign" called for a boycott of Uzbek cotton products. The reason was the precarious working conditions - above all child and forced labor in the cotton harvest. After all, there were officially 330 signatories to the Cotton Pledge worldwide. The list included numerous U.S. associations as well as large, influential labels, including adidas, PVH, VF Corporation and Inditex.