# Die Politik

2003 rief die „Cotton Campaign“ zum Boykott usbekischer Baumwollprodukte auf. Der Grund waren prekäre Arbeitsbedingungen – vor allem Kinder- und Zwangsarbeit bei der Baumwollernte. Immerhin gab es offiziell weltweit 330 Unterzeichner der sog. „Cotton Pledge“. Auf deren Liste standen neben zahlreichen US-amerikanischen Verbänden auch große, einflussreiche Labels, darunter adidas, PVH, VF Corporation und Inditex.