# The Seas

Rebirth Island was an island in the Aral Sea, which first became a peninsula due to drying up in 2002 and finally became part of the mainland in 2008. Thus, it no longer represented a recognizable landscape feature. On the Rebirth Island, which was the property of the Soviet Ministry of Defense, chemical and bacteriological weapons were tested from 1936 on. These tests caused a mass death of fish in the Aral Sea in 1976, and in 1988 50,000 saiga antelopes died within an hour, their bodies were removed by bulldozers. Until 1991, these incidents and the laboratory were kept secret. Even today, the soil of the former island is contaminated with anthrax and there are occasional cases of plague in the area.