# Die Seen

Die Insel der Wiedergeburt war eine Insel im Aralsee, die aufgrund der Austrocknung 2002 erst zur Halbinsel und 2008 schließlich Teil des Festlandes wurde. Damit stellte sie kein erkennbares Landschaftsmerkmal mehr dar. Auf der Insel der Wiedergeburt, die Eigentum des sowjetischen Verteidigungsministeriums war, wurden ab 1936 chemische und bakteriologische Waffen getestet. Durch diese Tests kam es 1976 zu einem Massensterben von Fischen im Aralsee und 1988 starben binnen einer Stunde 50.000 Saiga-Antilopen, deren Körper mit Planierraupen beseitigt wurden. Bis 1991 wurden diese Vorfälle sowie das Labor geheim gehalten. Auch heute noch ist der Boden der ehemaligen Insel milzbrandverseucht und es kommt in der Umgebung gelegentlich zu Fällen von Pest.