# Cotton

Uzbekistan gradually became the world's eighth largest producer and fifth largest exporter of cotton. The cotton harvest continued to be mostly state-run. It went and still goes from mid-September to the end of November. The pickers were usually employed for a period of 4 weeks.