# Die Baumwolle

Usbekistan wurde nach und nach zum achtgrößten Produzenten und fünftgrößten Exporteur von Baumwolle weltweit. Die Baumwollernte wurde weiterhin meist staatlich betrieben. Sie ging und geht von Mitte September bis Ende November. Die Pflücker wurden meist für einen Zeitraum von 4 Wochen eingesetzt. 