# Die Politik

Im Herbst 2016 wurde Shavkat Mirziyoyev zum Präsidenten Usbekistans gewählt. Die Grenzen zu den Nachbarländern wurden geöffnet. Die Medien sollten unabhängiger, die Wirtschaft liberalisiert werden. Die tief verwurzelte Praxis der Zwangsarbeit sollte dem Wahlprogramm nach reformiert werden. Der Begriff Reformen verschleiert jedoch staatliche Regulierungseingriffe, wie z.B. Landnahmen für den Baumwollanbau. Von den 2,6 Millionen Pflückern, die nach wie vor per Hand ernten, stufte die ILO (Internationale Arbeitsorganisation) noch 2016 rund 14% als Zwangsarbeiter ein. Demnach mussten gut 360.000 Menschen, mehr als ein Prozent der Bevölkerung, gegen ihren Willen in den Feldern arbeiten. Bis vor einigen Jahren waren auch regelmäßig Minderjährige betroffen.