# Politics

In the fall of 2016, Shavkat Mirziyoyev was elected president of Uzbekistan. The borders to neighboring countries were opened. The media were to become more independent, the economy liberalized. According to the election program, the deeply rooted practice of forced labor was to be reformed. However, the term reforms disguises state regulatory interventions, such as land grabs for cotton cultivation. Of the 2.6 million pickers who still harvest by hand, the ILO (International Labor Organization) still classified around 14 percent as forced laborers in 2016. Accordingly, a good 360,000 people, more than one percent of the population, had to work in the fields against their will. Until a few years ago, minors were also regularly put to work. 