# The Seas

The largest area has long ceased to be occupied by water, but a new landscape has emerged: the Aralkum Desert. It borders on Kyzylkum and Karakum between Kazakhstan and Uzbekistan. To date, there has been little research on this desert as a newly emerged potential habitat. What is clear however, is that it is the source of many sand and dust storms. The desert releases about 150 million tons of clay particles, salt dust, herbicides, pesticides, heavy metals and radioactive material into the atmosphere each year. The global impact of the change is shown by the fact that particles can be detected in areas more than 2,000 km away, including Belarus, the Himalayas, and the Pacific and Arctic Oceans.