# Die Seen

Die größte Fläche nehmen längst nicht mehr die Seen ein, sondern eine neue Landschaft ist entstanden: die Wüste Aralkum. Sie grenzt an Kysylkum und Karakum zwischen Kasachstan und Usbekistan. Bisher gibt es nur wenig Forschungen zu dieser Wüste als neu entstandenem potentiellen Lebensraum. Klar ist jedoch, dass sie die Ursache für viele Sand- und Staubstürme ist. Dabei gelangen jährlich etwa 150 Millionen Tonnen Tonteilchen, Salzstaub, Herbizide, Pestizide, Schwermetalle und radioaktives Material in die Atmosphäre. Wie global die Veränderung wirkt, zeigt sich daran, dass Teilchen in über 2.000 km entfernten Gebieten, unter anderem in Belarus, im Himalaya, sowie im Pazifischen und im Arktischen Ozean nachgewiesen werden können.