# Cotton

Despite criticism from independent journalists, the ILO praised the results of the monitoring of the 2020 cotton harvest. Recruiting the 2020 crop workers was particularly challenging due to the Corona pandemic. Sixty-one percent of the harvesters were women. About 80 percent of the helpers came from rural areas. On average, they worked 21 days at the harvest. According to the ILO, there were no children involved. Uzbek cotton has thus re-established itself on the world market. 