# Die Baumwolle

Die Ergebnisse vom Monitoring der Baumwollernte 2020 wurden trotz Kritik unabhängiger Journalisten von der ILO gelobt. Das Anwerben der Erntehelfer 2020 war eine besondere Herausforderung durch die Corona-Pandemie. 61 Prozent der Erntehelfer waren Frauen. Rund 80 Prozent der Helfer kamen aus ländlichen Regionen. Im Durchschnitt arbeiteten sie 21 Tage bei der Ernte. Kinder waren nach Meinung der ILO nicht dabei. Usbekische Baumwolle hat sich damit wieder auf dem Weltmarkt etabliert. 