# Politics

The efforts of the government of Uzbekistan to end forced labor are very serious, noted the report of the ILO (International Labor Organization). On April 26, 2021, at the invitation of the Federal Foreign Office, the Federal Ministry of Economics and the Committee on Eastern European Economic Relations, a round table on "Cotton from Uzbekistan" was held. There, the experts from politics, from international organizations and from the business community uniformly proclaimed: The boycott call of the US-American "Cotton Campaign" against Uzbek cotton should stop. This is also because the German industry supplies Uzbekistan with machinery for the production of cotton yarn and the GIZ (German Society for International Cooperation) supports cotton projects in Uzbekistan. In this way, Germany is also benefiting from the renewed upswing in Uzbek cotton.