# Die Politik

Die Anstrengungen der Regierung Usbekistans zur Beendigung von Zwangsarbeit seien sehr ernst, stellte der Bericht der ILO (Internationale Arbeitsorganisation) fest. Am 26. April 2021 fand auf Einladung des Auswärtigen Amts, des Bundeswirtschaftsministeriums und des Ost-Ausschusses der Deutschen Wirtschaft ein Runder Tisch „Baumwolle aus Usbekistan“ statt. Dort wurde von den Experten aus Politik, von internationalen Organisationen und aus der Wirtschaft einheitlich verkündet: Der Boykottaufruf der US-amerikanischen „Cotton Campaign” gegen usbekische Baumwolle solle aufhören. Gründe dafür sind auch, dass die deutsche Wirtschaft Usbekistan mit Maschinen zur Herstellung von Baumwollgarn beliefert und die GIZ (Deutsche Gesellschaft für Internationale Zusammenarbeit) Baumwollprojekte in Usbekistan fördert. So profitiert auch Deutschland vom erneuten Aufschwung usbekischer Baumwolle. 