# The Seas

Scientists do not give any hope to save the Aral Sea in its original form. However, there are projects that intend to save at least parts of it from drying up further. These include a dam project in Kazakhstan. Indeed, the water returned to the northern small Aral Sea. But this again means political decisions, because the Uzbek parts in the south are thus exposed to further disappearance.