# Die Seen

Hoffnung, den Aralsee in seiner ursprünglichen Form zu retten, gibt es aus der Wissenschaft keine. Es gibt jedoch Projekte, die wenigstens Teile vor dem weiteren Austrocknen bewahren sollen. Dazu zählt ein Staudamm-Projekt in Kasachstan. Und tatsächlich kehrte das Wasser in den nördlichen kleinen Aralsee zurück. Doch auch dies bedeutet wieder politische Entscheidungen, denn die usbekischen Teile im Süden sind damit dem weiteren Verschwinden ausgesetzt. 