# Historical Intro

In St. Petersburg, the political goal of "cotton independence" from the war-torn USA emerged around 1890. Irrigation became a fixed idea of the tsarist administrators, engineers and scientists. They wanted to modernize cotton cultivation with new canals. The communist government after World War I adopted almost all the goals of its tsarist predecessors with regard to cotton. The Soviet Union drew up a five-year plan in 1928/29 and declared the Uzbek collective farms to be the cotton base of the Soviet Union. In 1939, the Uzbek Soviet Socialist Republic received the Order of Lenin, a high honor for its achievements in cotton cultivation. After World War II, the Stalinist compulsory cotton system was re-established. In 1958, construction began on the Karakum Canal, which would later contribute 40 percent to the siltation of the Aral Sea.