# Cotton

In the 1990s, a cautious privatization of agricultural structures was undertaken. Nevertheless, cotton cultivation remained in state hands. However, both the delivery of cotton to the state and the fulfillment of the plan remained below the required levels. Total cotton production in 1998 had decreased by almost 37% compared to 1990. Agrotechnical measures not implemented in time, insufficient defoliation, and lack of harvesting technology further contributed to the fact that the production potential could not be fully exploited. Only two-thirds of the cotton harvesting machines were operational, which meant that more than 96% of the cotton had to be harvested by hand.