# Die Baumwolle

In den 1990er-Jahren wurde eine vorsichtige Privatisierung der agrarischen Strukturen vorgenommen. Aber der Baumwollanbau blieb in staatlicher Hand. Jedoch blieb sowohl die Ablieferung der Baumwolle an den Staat, als auch die Planerfüllung unter den geforderten Größen. Die Gesamtproduktion der Baumwolle hatte 1998 im Vergleich zu 1990 um fast 37% abgenommen. Nicht rechtzeitig durchgeführte agrotechnische Maßnahmen, ungenügende Entlaubung und fehlende Erntetechnik trugen zusätzlich dazu bei, dass das Produktionspotenzial nicht voll ausgeschöpft werden konnte. Nur zwei Drittel der Baumwollerntemaschinen waren einsatzbereit, was dazu führte, dass mehr als 96% der Baumwolle von Hand geerntet werden musste. 