# Politics

The Uzbek economy became a monoculture and was based almost exclusively on cotton cultivation. According to statistics from the 1980s, this industry accounted for more than 65% of Uzbekistan's total production. However, less than 10% of the cotton produced was actually processed in Uzbekistan. Most of it was exported to Russia, where the light industry was mainly located. The USSR regarded Uzbekistan as a simple supplier of cotton, needing only what was necessary for the harvest: fertilizer and tractors. The country's urbanization processes were slowed down to ensure Uzbekistan's specialization in cotton cultivation. 