# Politics

At the beginning of the 1990s, religiosity and nationalism gained strength in the republics of Central Asia and especially in a number of particularly densely populated regions of Uzbekistan, Tajikistan and Kyrgyzstan. The arbitrary settlement of part of the population in the periphery for the purpose of cotton cultivation paved the way for the emergence of a poor and less educated stratum of the population already during the Soviet Union. This deprived Uzbekistan of the possibility of educated human resources specialized in certain areas. In general, the omnipresence of cotton in Uzbek society is associated with the term cotton policy.