# Die Politik

Zu Beginn der 1990er-Jahre erstarkten in den Teilrepubliken Zentralasiens und insbesondere in einer Reihe von besonders dicht besiedelten Regionen Usbekistans, Tadschikistans und Kirgistans Religiosität und Nationalismus. Die willkürliche Ansiedlung eines Teils der Bevölkerung in der Peripherie zum Zweck des Baumwollanbaus ebnete bereits während der Sowjetunion den Weg zur Entstehung einer armen und weniger gebildeten Bevölkerungsschicht. Dadurch wurde Usbekistan die Möglichkeit einer gebildeten und auf bestimmte Bereiche spezialisierten Bevölkerung genommen. Allgemein assoziiert man die Omnipräsenz der Baumwolle in der usbekischen Gesellschaft mit dem Begriff Baumwollpolitik.