# The Sea

The large-scale irrigation development projects came under increasing criticism. Animal species disappeared and the incorrect use of mineral fertilizers caused the soil to leach. Gorbachev's stance as General Secretary of the Central Committee of the Communist Party of the Soviet Union (CPSU) and the perestroika allowed critical opinion among the population to expand from March 1985 on. Demonstrations and protest campaigns were launched to draw attention to environmental problems.