# The Seas

The amount of water was now no longer sufficient to speak of a single lake. The Aral Sea broke into two parts. To remedy the pressing water shortage, engineers and hydrotechnicians once again relied on environmental intervention. The Siberian rivers Ob and Irtysh were to be diverted to Central Asia. This was still an idea from Stalin's time. This idea was dropped with the disintegration of the Soviet Union. 