# Die Seen

Die Wassermenge reichte nun nicht mehr aus, um von einem einzigen See zu sprechen. Der Aralsee zerfiel in zwei Teile. Zur Behebung der drängenden Wasserknappheit setzten Ingenieure und Hydrotechniker erneut auf ein Eingreifen in die Umwelt. Die sibirischen Flüsse Ob und Irtysch sollten nach Zentralasien umgeleitet werden. Dies war noch eine Idee aus Stalins Zeit. Diese Idee wurde jedoch mit dem Zerfall der Sowjetunion fallengelassen. 