@import '@fontsource/inter';
@import '@fontsource/inter/700.css';

:root {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;


	--aral-color-highlight: #8300FE;
	--aral-color-bg: #FFFCDF;
	--aral-color-bg-light: #fffdee;
	--aral-color-content: #000000;


	/* ----------------- */
	/* ----------------- */
	/* SIZES */

	--size-xxs: 4px;
	--size-xs: 8px;
	--size-s: 16px;
	--size-sm: 20px;
	--size-sl: 24px;
	--size-m: 32px;
	--size-l: 48px;
	--size-xl: 64px;
	--size-xxl: 128px;
}

.aral-background {
	background: url("/100-90-5-monochrome.png");
	background-color: var(--aral-color-bg);
}

.aral-background-light {
	background: url("/100-90-5-monochrome.png");
	background-color: var(--aral-color-bg-light);
}

.overflow-hidden {
	overflow: hidden;
}

.fullscreen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* modals */
.z-1000 {
	z-index: 1000;
}

/* fade transition */
.z-2000 {
	z-index: 2000;
}

/* ----------------- */
/* ----------------- */
/* FLEX */


.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.gap-xxs {
	gap: 16px
}

.gap-xs {
	gap: 32px
}

.gap-s {
	gap: 64px
}

.gap-m {
	gap: 80px
}

.gap-l {
	gap: 128px
}

.flex-cross-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}


.align-bottom {
	margin-top: auto;
}

.align-self-center {
	align-self: center;
}

.justify-self-right {
	justify-content: end;
}

/* ----------------- */
/* ----------------- */
/* GRID */

.grid {
	display: grid;
}

.col-2-3 {
	grid-template-columns: 2fr 3fr;
}

.content-1-2-1 {
	flex-grow: 1;
	grid-template-columns: 1fr 2fr 1fr;
}

.content-1-3 {
	flex-grow: 1;
	grid-template-columns: 1fr 3fr;
}

.row-1 {
	grid-template-rows: 1;
}

/* ----------------- */
/* ----------------- */
/* BORDERS */

:root {
	--border-l: 2px solid var(--aral-color-content);
	--border-radius-l: var(--size-xs);
	--border-radius-xl: var(--size-s);
}

.border-l {
	border: var(--border-l);
}

.border-right-l {
	border-right: var(--border-l);
}

.border-bottom-l {
	border-bottom: var(--border-l);
}




.border-radius-l {
	border-radius: var(--border-radius-l);
}

.border-radius-xl {
	border-radius: var(--border-radius-xl);
}

.border-radius-xxl {
	border-radius: var(--size-sl);
}

/* ----------------- */
/* ----------------- */
/* TEXT */

.text-body-m {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.text-body-m-bold {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
}


.text-body-xl {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 47px;
}

.text-heading-m {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
}

/* ----------------- */
/* ----------------- */
/* SHADOWS */

.shadow-m {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow-xl {
	box-shadow: 0px 28px 80px rgb(0 0 0 / 28%)
}

.drop-shadow-m {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


/* ----------------- */
/* ----------------- */
/* PADDING */
.padding-all-xs {
	padding: var(--size-xs);
}

.padding-all-s {
	padding: var(--size-s);
}

.padding-left-s {
	padding-left: var(--size-s);
}

.padding-all-s {
	padding: var(--size-s);
}

.padding-left-s {
	padding-left: var(--size-s);
}

.padding-all-sm {
	padding: var(--size-sm);
}

.padding-left-sm {
	padding-left: var(--size-sm);
}

/* ----------------- */
/* ----------------- */
/* MARGIN */

.margin-none {
	margin: 0;
}

.margin-all-s {
	margin: var(--size-s);
}

.margin-all-auto {
	margin: auto;
}


.margin-l-auto {
	margin-left: auto;
}

.margin-v-xl {
	margin-top: var(--size-xl);
	margin-bottom: var(--size-xl);
}

.margin-b-m {
	margin-bottom: var(--size-m);

}

.margin-t-s {
	margin-top: var(--size-s);

}


/* ----------------- */
/* ----------------- */
/* LIGHTBOX */

.image:has(.lightbox) {
	z-index: 1000;
	margin: 0 !important;
	/* transform: translate(-50%, -50%) !important; */
}

.center-v-h {
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}

.center-v-h:has(.lightbox) {
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}

.rotate--2deg {
	transform: rotate(-2deg) translate(0, 0);

}

.rotate--2deg:has(.lightbox) {
	transform: rotate(0deg) translate(0, 0);

}

.to-width-80:has(.lightbox) {
	width: 80% !important;

}


.from-top-right {
	top: 200px;
	/* left: 100px; */
	right: -100px;
	transform: rotate(-2deg) translate(-50%, -50%);

}

.from-top-right:has(.lightbox) {
	right: 50%;
	top: 50%;
	transform: rotate(0) translate(50%, -50%);

}

.from-bottom-left {
	bottom: -360px;
	left: 440px;
	/* left: -100px; */
	transform: rotate(0deg) translate(-50%, -50%);

}

.from-bottom-left:has(.lightbox) {
	left: 50%;
	bottom: 50%;
	transform: rotate(0) translate(-50%, 50%);

}

.from-bottom-left-corner {
	bottom: -260px;
	left: -180px;
	/* right: -100px; */
	transform: rotate(-2deg) translate(-50%, -50%);
}

.from-bottom-left-corner:has(.lightbox) {
	left: 50%;
	bottom: 50%;
	transform: rotate(0) translate(-50%, 50%);

}

.from-bottom-left-corner-2 {
	bottom: -220px;
	left: 50px;
	transform: rotate(-2deg) translate(-50%, -50%);
}

.from-bottom-left-corner-2:has(.lightbox) {
	left: 50%;
	bottom: 50%;
	transform: rotate(0) translate(-50%, 50%);

}


.image-transition {
	transition: all 0.5s ease;
}

.transparent {
	background: rgba(255, 255, 255, 0.6) !important;
	/* background: #FFFCDF99 !important; */
	backdrop-filter: blur(27px) !important;
}

.transparent-aral-bg {
	background: #FFFCDF99 !important;
	backdrop-filter: blur(27px) !important;
}




/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */



body {
	min-height: 100vh;
	margin: 0;
	background: url("/100-90-5-monochrome.png");
	background-color: var(--aral-color-bg);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	hyphens: auto;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
}

pre {
	font-size: 18px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);




}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* 
@media (min-width: 720px) {
	h1 {
		font-size: 18px;
	}
} */


/* ----------------- */
/* ----------------- */
/* TABLE */

table {
	/* border: var(--border-l); */
	border-collapse: separate;
	border-left: 0;
	border-radius: var(--size-xs);
	border-spacing: 0px;

	background: url("/100-90-5-monochrome.png");
	background-color: #FFFCDF99 !important;
	backdrop-filter: blur(27px) !important;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	border-collapse: separate;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

th,
td {
	padding: var(--size-xs) var(--size-sm);
	text-align: left;
	vertical-align: top;
	border-left: var(--border-l);
}

td,
th {
	border-top: var(--border-l);
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
	border-radius: var(--size-xs) 0 0 0;
}

thead:last-child tr:last-child th:first-child,
tbody tr:last-child td:first-child {
	border-radius: 0 0 0 var(--size-xs);
}

tbody tr:first-child td:first-child {
	border-radius: var(--size-xs) 0 0 0;
}

thead tr:first-child th:last-child,
tbody tr:first-child td:last-child {
	border-radius: 0 var(--size-xs) 0 0;
}

tbody tr:last-child td:last-child {
	border-radius: 0 0 var(--size-xs) 0;
}

table th:last-child,
table td:last-child {
	border-right: var(--border-l);
}

tbody tr:last-child td {
	border-bottom: var(--border-l);
}

thead:has(th:empty) {
	display: none;
}

table:not(:has(th:empty)) tbody tr:first-child td:first-child {
	border-radius: 0;
}

table:not(:has(th:empty)) tbody tr:first-child td:last-child {
	border-radius: 0;
}

/* 
::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	width: 8px;
	background: #393812;
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {} */